---
import { Image } from "astro:assets";

import notfound from "@images/notfound.png";
import PageLayout from "@layouts/PageLayout.astro";
const title = "404 Error - Page Not found | Lone Voice";
const description = "Page Not found | Lone Voice";
---

<PageLayout {title} {description}>
    <main class="wrapper my-fluid">
        <div class="max-w-md mx-auto">
            <Image
                src={notfound}
                alt="page not found"
                loading={"eager"}
                fetchpriority={"high"}
                decoding={"sync"}
                class="mx-auto w-80"
            />
            <p class="text-center text-lg md:text-xl mt-6">
                The page you are looking for does not exist. You may check our
                <a
                    href="/"
                    class="text-red-700 underline underline-offset-4 decoration-2"
                    >Homepage</a
                >
            </p>
        </div>
    </main>
</PageLayout>
