---
import PageLayout from "@layouts/PageLayout.astro";

const title = "About This Blog | LoneVoice.in";
const description = "Learn about us | LoneVoice.in";
---

<PageLayout {title} {description}>
    <main class="wrapper py-6 md:py-8 lg:py-10">
        <div class="max-w-2xl mx-auto">
            <h1 class="text-2xl md:text-3xl lg:text-4xl font-serif font-medium">
                About This Blog
            </h1>

            <p class="mt-6 text-lg">
                This blog is my humble attempt to explore the art of blogging by
                sharing my thoughts on topics that intrigue me and stimulate me
                intellectually. These are subjects that others may or may not
                agree with, but they inspire meaningful conversations and
                reflections &mdash; hence the name of the blog!
            </p>

            <p class="mt-4 text-lg">
                I hope you find this blog both enjoyable to read and
                thought-provoking. If you have something to share, please feel
                free to <a
                    href="/contact/"
                    class="underline underline-offset-4 italic">contact me</a
                >. Thank you for being part of this community!
            </p>
        </div>
    </main>
</PageLayout>
