---
import PageLayout from "@layouts/PageLayout.astro";
import PostCard from "@components/PostCard.astro";

import { fetchAndFilterPosts } from "@utils/helpers";
const posts = await fetchAndFilterPosts();

const title = "ThoughtPlay";
const description = "Welcome to my blog";
---

<PageLayout {title} {description}>
    <div class="wrapper my-fluid">
        <h1 class="section-heading font-serif text-xl mb-4">
            ALL &ThinSpace;POSTS
        </h1>
        <div class="fluid-cards">
            {posts.map((post) => <PostCard {post} />)}
        </div>
    </div>
</PageLayout>
