---
import PageLayout from "@layouts/PageLayout.astro";
import PostCard from "@components/PostCard.astro";

import { fetchAndFilterPosts } from "@utils/helpers";
const posts = await fetchAndFilterPosts();

const title = "TheLoneVoice";
const description = "Welcome to my blog";
---

<PageLayout {title} {description}>
    <div class="wrapper my-fluid">
        <h1 class="section-heading font-serif text-xl lg:text-2xl mb-2">
            All Blog Posts
        </h1>
        <div class="fluid-cards py-4">
            {posts.map((post) => <PostCard {post} />)}
        </div>
    </div>
</PageLayout>
