---
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead {title} {description} />
    </head>
    <body class="font-sans">
        <slot />
        <Footer />
    </body>
</html>
