---
const footer = [
    { text: "Privacy", link: "/privacy" },
    { text: "RSS Feed", link: "/rss.xml" },
];

function getCurrentYear() {
    return new Date().getFullYear();
}
---

<footer class="bg-gray-950 py-4">
    <div class="wrapper grid gap-4 sm:grid-cols-2">
        <ul class="flex flex-wrap items-center justify-evenly sm:justify-start">
            {
                footer.map((item) => (
                    <li>
                        <a
                            href={item.link}
                            class="sm:mr-8 md:mr-12 text-gray-100"
                        >
                            {item.text}
                        </a>
                    </li>
                ))
            }
        </ul>
        <div class="text-gray-100 text-center sm:text-right">
            Copyright © {getCurrentYear} | Sabari's Journal
        </div>
    </div>
</footer>
